.container{
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
}
h1{
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Alegreya', serif;
}
p{
    font-size: 1rem;
    font-family: 'Gentium Basic', serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.columna{
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
    text-align: left;
    padding: 15px;
}
img{
    width: 100%; 
    filter: drop-shadow(0 2px 5px rgba(12, 1, 1, 0.87));
}
img:hover{
    cursor: pointer; 
    filter: opacity(.5);
}
/*Vista modal*/
#video{
    margin: auto;
    width: 100%;
    height: 80%;
    display: block;
}
.modal{
    display: none;    
}
.activo{
    background-color: rgba(31, 29, 29, 0.644);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
}
#divBtnX{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
#btnX{
    font-weight: bold;
    color: black;
    width: fit-content;
    padding: 3px;
    font-size: 1rem;
    cursor: pointer;
}
.oculto{
    display: none;
}

@media only screen and (max-width: 768px){
    .columna{
        width: 100%;
    }
    /*Vista modal*/
    #video{
        margin: auto;
        width: 100%;
        height: 60%;
        display: block;
    }
}
@media only screen and (max-width: 576px){
    .columna{
        width: 100%;
    }
    /*Vista modal*/
    #video{
        height: 50%;
    }
}